@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  // flexbox
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {

  &:nth-of-type(1) {
    background-image: url(../img/exploreTheWorld.jpg);
  }

  &:nth-of-type(2) {
    background-image: url(../img/wildForest.jpg);
  }

  &:nth-of-type(3) {
    background-image: url(../img/sunnyBeach.jpg);
  }

  &:nth-of-type(4) {
    background-image: url(../img/cityOnWinter.jpg);
  }

  &:nth-of-type(5) {
    background-image: url(../img/mountainsClouds.jpg);
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: .5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;

  h3 {
    font-size: 4rem;
    position: absolute;
    bottom: 40px;
    left: 40px;
    margin: 0;
    opacity: 0;
  }

  &.active {
    flex: 5;
    box-shadow: inset 0px -144px 77px -27px rgba(0, 0, 0, 0.5), inset 44px 99px 110px -59px rgba(255, 255, 255, 0.55);
  }

  &.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
}

@media(max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel {

    &:nth-of-type(4),
    &:nth-of-type(5) {
      display: none;
    }
  }
}


.container {
  display: flex;
  justify-content: center;
  width: 90vw;
}